# FOLDERS TO IGNORE
# -------------------------------------------------------------------- #
.idea/
.vscode/
review/
vendor/

# FILES TO IGNORE
# -------------------------------------------------------------------- #
**/.env
**/composer.lock
**/package-lock.json
